body {
  background-color: wheat;
  font-size: 2rem; 
}

h1 {
  color: #ce02bd; }

h2 {
  color: coral; }

h3 {
  color: red; }

h4 {
  color: blue; }

.top-link {
  border-bottom: 1px solid red;
  padding: 5px 0; }
.product__comment {
    font-size: 1rem;
}