<div class="content" style="margin-top: 30px">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="page-title">
          <h1 class="title-head" style="font-size: 30px">
            <strong> Nike Mercurial Vapor 14 theo phong cách của Nike Jordan 1 sẽ trông như nào?</strong>
          </h1>
        </div>
        <div class="content-page">
          <span class="time" style="font-size: 18px; color: #999;"><i class="far fa-clock"
              style="margin-right: 10px;"></i>13/11/2021</span>
          <p>
            Mới đây Footpack và Soub đã hợp tác với nhau để tạo ra một phiên bản Nike Mercurial Vapor 14 được tùy chỉnh
            đặc biệt, lấy cảm hứng từ một
            trong những đôi giày yêu thích của tiền đạo người Pháp Marcus Thuram,
            đôi Jordan 1 Travis Scott x Fragment.
          </p>
          <p>
            <img src="/img/product/new4.jpg" alt="">
          </p>
          <P>
            Tiền đạo của Borussia Mönchengladbach là một fan cứng của những đôi giày thể thao đặc biệt là dòng sản phẩm
            Nike Jordan, cũng vì lý do đó mà khi thương hiệu footpack của Pháp đề nghị sẽ "custom" cho Marcus một đôi
            Nike Mercurial Vapors 14, thì đôi Jordan 1 Travis Scott x Fragment,
            đã được chọn để trở thành nguồn cảm hứng cho phiên bản "custom" này, được tạo ra bởi nghệ sĩ thiết kế Soub.
          </P>
          <p>
            <img src="/img/product/new5.jpg" alt="">
          </p>
          <P>
            Nike Mercurial Travis Scott có tone màu chủ đạo toàn màu trắng và phủ lên nó
            các tấm hình khối màu xanh tương đồng với Jordan 1 Travis Scott x Fragment.
            Dấu Swoosh lớn màu đen ở mặt ngoài với một chữ ký của Travis Scott - phía má trong là dấu Swoosh nhỏ hơn
            kiểu setup giống với bản phối "Recharge" được Nike cho ra mắt gần đây.
          </P>
          <p>
            <img src="/img/product/new6.jpg" alt="">
          </p>
          <p>
            <img src="/img/product/new7.jpg" alt="">
          </p>
          <p>
            Ở trung tâm phần gót giày, dòng "Marcus Jack" được thiết kế khá "nguệch ngoạc",
            có lẽ để tạo dấu hiệu đặc trưng cho đôi giày.
            Đặt bên cạnh là logo của footpack ở mặt ngoài và logo Joaquim Soub ở mặt bên trong.
          </p>
          <p>
            <img src="/img/product/new8.jpg" alt="">
          </p>
          <p>
            Theo dõi blog của P&T SHOP để biết được những thông tin mới nhất về
            những đôi giày bóng đá chính hãng đã và sắp có mặt trên thị trường toàn thế giới nhé.
            Ngoài ra các bạn có thể tham khảo thêm những đôi giày bóng đá chính hãng phiên bản
            dành cho mặt sân cỏ nhân tạo và Futsal tại <a href="">đây</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
