<center>
     <h1>Bạn sẽ được chuyển về trang chủ sau 1 cú chớp mắt</h1>
    <script>
        var timer = setTimeout(function() {
            window.location='/';
        }, 2000);
    </script>
</center>