<div class="mt-4">
    <form method="POST">
        <div class="form-group">
            <label for="search">Search</label>
            <input type="text" class="form-control" id="search" name="q">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
<div class="mt-4">
    <form method="GET">
        <div class="form-group1">
            <label for="search">Search</label>
            <input type="text" class="form-control" id="search" name="q">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>